<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Grupo 1C-G18">
        <title><%= title %></title>
        <link rel="icon" type="image/png" sizes="64x64" href="./assets/img/LOGO.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    </head>
    <body>
        <h1>404 - Pagina no encontrada</h1>
        <p>Lo sentimos, la pagina que estas buscando no existe.</p>
        <a href="/">Volver al inicio</a>
    </body>
</html>